<div class="container">
    <div class="row">
        <form role="form" class="col-md-9 go-right">
            <h2>Basic Form Validation</h2>
            <p>Using Angular!</p>
            <div class="form-group">
                <input id="name" name="name" type="text" class="form-control" required>
                <label for="name">Your Name</label>
            </div>
            <div class="form-group">
                <input id="phone" name="phone" type="tel" class="form-control" required>
                <label for="phone">Primary Phone</label>
            </div>
            <div class="form-group">
                <textarea id="message" name="phone" class="form-control" required></textarea>
                <label for="message">Message</label>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit" value="Submit">Submit</button>

        </form>

    </div>
</div>