<div class="container">
  <div>
    <!--{{imageURL}} -->

    <img [src]="imageURL" />
    <i class="glyphicon"
     [class.glyphicon-thumbs-up]="!isOk"
     [class.glyphicon-thumbs-down]="isOk"
     (click)="OnCheck()"
     (change)="onOkChange($event)"
     >
     </i>
    <!--<i class="glyphicon glyphicon-thumbs-down"></i>-->

    <!--<img bind-src="imageURL"/>-->
  </div>
  <h1>Movie Form</h1>
  <form>
    <div class="form-group">
      <label for="movieName">Movie Name</label>
      <input type="text" class="form-control" [(ngModel)]="model.movieName" ngControl="movieName" #lookinside #formVar="ngForm" required>

    </div>
    {{inspect}}
    <div [hidden]="formVar.valid || formVar.pristine" class="alert alert-danger">
      Movie Name is required
    </div>
    <br>Change State Tracking: {{lookinside.className}}
    <div class="form-group">
      <label for="directorName">Director Name</label>
      <input type="text" class="form-control" [(ngModel)]="model.directorName" required>
    </div>
    <div class="form-group">
      <label for="releaseYear">Release Year</label>
      <input type="text" class="form-control" [(ngModel)]="model.releaseYear" required>
    </div>
    <div class="form-group">
      <label for="reviews">Reviews</label>
      <input type="text" class="form-control" [(ngModel)]="model.reviews">
    </div>
    <div class="form-group">
      <label for="genres">Select Genres</label>
      <select class="form-control" required>
    <option *ngFor="let m of genres" [value]="m">{{m}}</option>
  </select>
    </div>
    <button type="submit" (click)="OnClick($event)" class="btn" [class.btn-danger]="isDanger" [style.backgroundColor]="isDanger ? 'red': 'black'">Submit</button>
  </form>
</div>